<app-carousel [items]="carouselItems"></app-carousel>

<!-- Main Content -->
<div class="container">
    <!--<div class="row">-->
        <!--<app-carousel [items]="carouselItems"></app-carousel>-->
    <!--</div>-->
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <ng-container *ngFor="let a of articles">
                <ng-container *ngIf="a.selected === true">
                    <app-article-preview [article]="a"></app-article-preview>
                    <hr>
                </ng-container>
            </ng-container>
        </div>
        <!-- Pager -->
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="#" *ngIf="articles.length > 20">Older Posts &rarr;</a>
            <button class="btn btn-success float-right" (click)="goToNewArticle()" *ngIf="isAdmin">New</button>
        </div>
    </div>
</div>

<hr>
