.mainContainer {
    max-width: none;
    margin: 10px 30px;
    width: auto;
}


aside {
    width: 300px;
    min-height: 500px;
    background-color: lightseagreen;

    /*position: absolute;*/
    /*left: 30px;*/
}

.leftPanel {
    background-color: lightseagreen;
    /*left: 30px;*/
    float: left;

}

.rightPanel {
    background-color: lightgreen;
    /*right: 30px;*/
    float: right;

}
