<div *ngIf="!article">
    Loading...
</div>

<ng-container *ngIf="article"><!-- Page Header -->
    <!--TODO header service-->
    <!--<header class="masthead" style="background-image: url('../../assets/startbootstrap-clean-blog-gh-pages/img/post-bg.jpg')"-->
            <!--*ngIf="headerData">-->
        <!--<div class="overlay"></div>-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-lg-8 col-md-10 mx-auto">-->
                    <!--<div class="post-heading">-->
                        <!--<h1>{{headerData.title}}</h1>-->
                        <!--<h2 class="subheading">{{headerData.soustitre}}</h2>-->
                        <!--<span class="meta">Posted by-->
                          <!--<a href="#">{{headerData.writer}}</a>-->
                          <!--on {{headerData.createdAt}}-->
                        <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</header>-->

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto"
                    [innerHTML]="article.content | keepHtml">
                </div>
            </div>
        </div>
    </article>

    <hr>
</ng-container>


<!--<article class="article" *ngIf="article">-->
    <!--<header>-->
        <!--<h3 class="article-title">{{article.titre}}</h3>-->
        <!--&lt;!&ndash;<div class="type-indicator {{getCssTypeClassFromId(article.categorieId)}}"></div>&ndash;&gt;-->
        <!--<div class="type-indicator" [style.backgroundColor]="article.categorie?.cssColor">{{article.categorie?.name}}</div>-->
    <!--</header>-->
    <!--<hr>-->
    <!--<div>-->
        <!--<p>-->
            <!--Ecrit le <span>{{article.createdAt}}</span> par <span>{{article.writer}}</span>-->
        <!--</p>-->
        <!--<p>{{article.content}}</p>-->
    <!--</div>-->
    <!--<footer>-->
        <!--<p>??? Ecrit le <span>{{article.createdAt}}</span> par <span>{{article.writer}}</span> ???</p>-->
        <!--<div class="comment">-->
            <!--<p>Comments:</p>-->
            <!--<app-comment-edit (newCommentEvent)="addComment($event)"></app-comment-edit>-->
        <!--</div>-->
        <!--<div class="comment-list">-->
            <!--<ng-container *ngFor="let c of article.comments">-->
                <!--<app-comment [comment]="c"></app-comment>-->
            <!--</ng-container>-->
        <!--</div>-->
    <!--</footer>-->
<!--</article>-->
