.article {
    border: thin solid black;
    /*width: 200px;*/
    padding: 10px;
    margin-bottom: 20px;
}

header>.article-title {
    display: inline-block;
}

.type-indicator {
    position: relative;
    min-width: 15px;
    height: auto;
    /*background-color: blue;*/
    float: right;
    color: white;
    padding: 2px 4px;
}
