<ng-template #loading>
    <div>
        Loading...
    </div>
</ng-template>

<ng-container *ngIf="article$ | async; let article; else loading"><!-- Page Header -->
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto"
                    [innerHTML]="articleContent$ |  async | keepHtml">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <app-comment-edit (newCommentEvent)="addComment($event)"></app-comment-edit>
                </div>
            </div>

            <div class="comments">
                <div class="row" *ngFor="let comment of article.comments">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <app-comment [comment]="comment"></app-comment>
                    </div>
                </div>
            </div>

        </div>
    </article>

    <hr>

</ng-container>


<!--<article class="article" *ngIf="article">-->
    <!--<header>-->
        <!--<h3 class="article-title">{{article.titre}}</h3>-->
        <!--&lt;!&ndash;<div class="type-indicator {{getCssTypeClassFromId(article.categorieId)}}"></div>&ndash;&gt;-->
        <!--<div class="type-indicator" [style.backgroundColor]="article.categorie?.cssColor">{{article.categorie?.name}}</div>-->
    <!--</header>-->
    <!--<hr>-->
    <!--<div>-->
        <!--<p>-->
            <!--Ecrit le <span>{{article.createdAt}}</span> par <span>{{article.writer}}</span>-->
        <!--</p>-->
        <!--<p>{{article.content}}</p>-->
    <!--</div>-->
    <!--<footer>-->
        <!--<p>??? Ecrit le <span>{{article.createdAt}}</span> par <span>{{article.writer}}</span> ???</p>-->
        <!--<div class="comment">-->
            <!--<p>Comments:</p>-->
            <!--<app-comment-edit (newCommentEvent)="addComment($event)"></app-comment-edit>-->
        <!--</div>-->
        <!--<div class="comment-list">-->
            <!--<ng-container *ngFor="let c of article.comments">-->
                <!--<app-comment [comment]="c"></app-comment>-->
            <!--</ng-container>-->
        <!--</div>-->
    <!--</footer>-->
<!--</article>-->
