<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">-->
  <!--<h3>-->
    <!--Welcome to {{ title }}!-->
  <!--</h3>-->
  <!--<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
<!--</div>-->

<!--<section>-->
    <!--<article>-->
        <!--<h2>Nouvel article</h2>-->
        <!--<app-article-edit (newArticleEvent)="addArticle($event)"></app-article-edit>-->
    <!--</article>-->
<!--</section>-->

<!--<section>-->
    <!--<article>-->
        <!--&lt;!&ndash;<h2>Les articles: </h2>&ndash;&gt;-->
        <!---->
        <!--&lt;!&ndash;<ng-container *ngFor="let a of articles">&ndash;&gt;-->
        <!--&lt;!&ndash;<app-article [article]="a"></app-article>&ndash;&gt;-->
        <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

        <!--<ul>-->
            <!--<li *ngFor="let a of articles">-->
                <!--&lt;!&ndash;<a href="#{{a.id}}" (click)="showArticle(a.id)">{{a.titre}} - {{a.createdAt}}</a>&ndash;&gt;-->
                <!--<app-article-preview [article]="a"></app-article-preview>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</article>-->
    <!--<aside *ngIf="currentArticleId !== -1">-->
        <!--<app-article [article]="articles[currentArticleId]"></app-article>-->
    <!--</aside>-->
<!--</section>-->




<!-- Navigation -->
<app-navbar></app-navbar>

<!-- Page Header -->
<header class="masthead" [style.backgroundImage]="headerData.img ? 'url(' + headerData.img + ')' : ''"
        *ngIf="headerData">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading" *ngIf="!headerData.writer">
                    <h1>{{headerData.title}}</h1>
                    <span class="subheading">{{headerData.soustitre}}</span>
                </div>
                <div class="post-heading" *ngIf="headerData.writer">
                    <h1>{{headerData.title}}</h1>
                    <h2 class="subheading">{{headerData.soustitre}}</h2>
                    <span class="meta">Posted by
                          <a href="#">{{headerData.writer}}</a>
                          on {{headerData.createdAt}}
                        </span>
                </div>
            </div>
        </div>
    </div>
</header>

<router-outlet></router-outlet>
