section {
    width: 700px;
    padding: 15px;
    margin: 15px;
}

section article, section aside {
    display: inline-block;
    margin: 15px;
    vertical-align: top;
}

section aside{
    max-width: 360px;
}

#banner {
    /*background-color: orangered;*/
    height: 200px;
    width: 100%;
    text-align: center;
    padding: 40px 0;
}

#banner span {
    height: 50px;
    font-size: 74px;
}
